<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="com.justinbaumgartner.cordova.background-location" 
		version="0.1">
	<name>GeoLocation Service</name>
	<description>Cordova Background Location Plugin</description>
	<repo>https://github.com/justbaum30/cordova-plugin-background-location</repo>
	<author>Justin Baumgartner</author>
	<license>Apache 2.0</license>
	<keywords>cordova,geolocation,location,service,background,android,ios</keywords>
	
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
	<dependency id="org.apache.cordova.geolocation" />
	<dependency id="com.google.playservices" />
	
	<js-module src="www/BackgroundLocationPlugin.js" name="BackgroundLocationPlugin">
		<clobbers target="plugins.background.location" />
	</js-module>
	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BackgroundLocationPlugin">
				<param name="android-package" value="com.justinbaumgartner.cordova.backgroundlocation.BackgroundLocationPlugin"/>
			</feature>
		</config-file>
		
		<!-- android permissions -->
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		</config-file>
		
		<!-- android services and receivers -->
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:name="com.justinbaumgartner.cordova.backgroundlocation.LocationService" />
		</config-file>
		
		<source-file src="src/android/BackgroundLocationPlugin.java" target-dir="src/com/justinbaumgartner/cordova/backgroundlocation"/>
		<source-file src="src/android/LocationService.java" target-dir="src/com/justinbaumgartner/cordova/backgroundlocation"/>
		<source-file src="src/android/SimpleGeofence.java" target-dir="src/com/justinbaumgartner/cordova/backgroundlocation"/>
		<source-file src="src/android/SimpleGeofenceStore.java" target-dir="src/com/justinbaumgartner/cordova/backgroundlocation"/>
	</platform>
</plugin>